<h1 mat-dialog-title>Ajouter Annonce</h1>
<div mat-dialog-content>
	<form class="example-form" [formGroup]="annonceForm">
		<p>
			<mat-form-field class="example-full-width">
				<textarea
					matInput
					placeholder="Titre Annonce"
					formControlName="title"
				></textarea>
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<textarea
					matInput
					placeholder="Description"
					formControlName="description"
				></textarea>
			</mat-form-field>
		</p>
		<label class="image-upload-container btn-sm btn-bwm">
			<span>Choisir Image</span>
			<input
				#imageInput
				type="file"
				accept="image/*"
				(change)="processFile(imageInput)"
			/>
		</label>
		<div *ngIf="selectedFile" class="img-preview-container">
			<div
				class="img-preview{{
					selectedFile.status === 'fail' ? '-error' : ''
				}}"
				[ngStyle]="{
					'background-image': 'url(' + selectedFile.src + ')'
				}"
			></div>

			<div *ngIf="selectedFile.pending" class="img-loading-overlay">
				<div class="img-spinning-circle"></div>
			</div>

			<div
				*ngIf="selectedFile.status === 'ok'"
				class="alert alert-success"
			>
				Image Uploaded Succesfuly!
			</div>
			<div
				*ngIf="selectedFile.status === 'fail'"
				class="alert alert-danger"
			>
				Image Upload Failed!
			</div>
		</div>
	</form>
</div>
<div mat-dialog-actions>
	<button
		mat-button
		[mat-dialog-close]=""
		cdkFocusInitial
		(click)="onSubmit()"
		[disabled]="annonceForm.invalid || fileisUploading"
	>
		Enregistrer
	</button>
	<button mat-button (click)="onNoClick()">Fermer</button>
</div>
