<h1 mat-dialog-title>Changer Statut</h1>
<div mat-dialog-content>
	<h4>Date Modification</h4>
	<span *ngIf="data.datemodif == null">Pas de modification effectuée</span>
	<p>{{ data.datemodif | date: "dd/MM/yyyy" }}</p>
	<h4>Categorie</h4>
	<p>{{ data.category }}</p>
	<h4>Nature</h4>
	<p>{{ data.nature }}</p>
	<h4>Contenu</h4>
	<p>{{ data.contenu }}</p>
	<h4>Statut</h4>
	<mat-form-field appearance="fill">
		<mat-select [(value)]="data.status" name="statut">
			<mat-option *ngFor="let l of list" [value]="l.value">
				{{ l.viewValue }}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="update(data, data.status)">Valider</button>
	<button mat-button (click)="onNoClick()">Fermer</button>
</div>
