<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-6">
		<div class="card" style="width: 18rem">
			<div class="card-body">
				<h5 class="card-title">Total des signalements</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{TotalSignalement.length}}</h6>
				<p class="card-text">
					Total des signalements effectué par les citoyens
				</p>

			</div>
		</div>

		<div class="kt-space-20"></div>
		<div class="card" style="width: 18rem">
			<div class="card-body">
				<h5 class="card-title">Total des Correspondances</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{TotalCorrespan.length}}</h6>
				<p class="card-text">
					Total des Correspondances effectué par les citoyens
				</p>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-md-12 col-lg-6">
		<div class="card" style="width: 18rem">
			<div class="card-body">
				<h5 class="card-title">Total des annonces</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{Totalanonce.length}}</h6>
				<p class="card-text">
					Total des annonces effectué par les citoyens
				</p>
			</div>
		</div>
	</div>
</div>
