
              
                <h2>Définitions</h2>
                <p><b>Utilisateur :</b> tout professionnel ou personne physique capable ou personne morale, qui visite l'application objet des présentes conditions générales.<br>
                <b>Prestations et Services :</b> Mercy corps met à disposition des Utilisateurs :</p>

                <p><b>Contenu :</b> Ensemble des éléments constituants l’information présente sur l'application mobile, notamment textes – images </p>

                <p><b>Informations utilisateur :</b> Ci après dénommé « Information (s) » qui correspondent à l’ensemble des données personnelles susceptibles d’être détenues par Act'in pour la gestion de votre compte, de la gestion de la relation client et à des fins d’analyses et de statistiques.</p>


                <p><b>Utilisateur :</b> Internaute se connectant, utilisant l'application susnommée.</p>
                <p><b>Informations personnelles :</b> « Les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » .</p>
                
                <h2>1. Présentation de l'application mobile.</h2>
                <p> il est précisé aux utilisateurs de l'application mobile Act'in l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi:
                </p><p><strong>Propriétaire</strong> :  ONGI Mercy Corps   – Villa Jasmin, 1 1053 Rue du Lac Tibériade, Tunis 1053 Tunis<br>
                              
                <strong>Responsable publication</strong> : Mercy Corps – 71 861 824<br>
                Le responsable publication est une personne physique ou une personne morale.<br>            
                <strong>Hébergeur</strong> : Firebase <br>               
                </p>

              

                <h2>2. Conditions générales d’utilisation de l'application et des services proposés.</h2>

                <p>L'application constitue une œuvre de l’esprit protégée par les dispositions du Code de la Propriété Intellectuelle et des Réglementations Internationales applicables. 
                L'utilisateur ne peut en aucune manière réutiliser, céder ou exploiter pour son propre compte tout ou partie des éléments ou travaux de l'application.</p>

                <p>L’utilisation de l'application  implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs de l'application Act'in sont donc invités à les consulter de manière régulière.</p>

                <p>Cette application mobile est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par <a href="https://www.mercycorps.org/">https://www.mercycorps.org/</a>, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.
                L'application Acti'in est mise à jour régulièrement par <a href="https://www.mercycorps.org/">https://www.mercycorps.org/</a> responsable. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>

                <h2>3. Description des services fournis.</h2>

                <p>L'application mobile Act'in a pour objet de fournir une information concernant l’ensemble des activités de la municipalité et aide à l'interaction entre le citoyen et sa municipalité par le signalement des complications qui peuvent êtres trouvées par le citoyen.
                <a href="https://www.mercycorps.org/">https://www.mercycorps.org/</a> s’efforce de fournir sur l'application mobile des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des oublis, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>

                <p>Toutes les informations indiquées sur l'application Act'in sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur l'application Act'in ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>

                <h2>4. Limitations contractuelles sur les données techniques.</h2>

                <p>L'application mobile utilise la technologie Kotlin.

                L'application mobile ne pourra être tenu responsable de dommages matériels liés à l’utilisation de l'application. De plus, l’utilisateur de l'application s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus.
                
                <p>L’objectif est d’apporter une prestation qui assure le meilleur taux d’accessibilité. L’hébergeur assure la continuité de son service 24 Heures sur 24, tous les jours de l’année. Il se réserve néanmoins la possibilité d’interrompre le service d’hébergement pour les durées les plus courtes possibles notamment à des fins de maintenance, d’amélioration de ses infrastructures, de défaillance de ses infrastructures ou si les Prestations et Services génèrent un trafic réputé anormal.</p>

                <p><a href="https://www.mercycorps.org/">https://www.mercycorps.org/</a> et l’hébergeur ne pourront être tenus responsables en cas de dysfonctionnement du réseau Internet, des lignes téléphoniques ou du matériel informatique et de téléphonie lié notamment à l’encombrement du réseau empêchant l’accès au serveur.</p>

                <h2>5. Propriété intellectuelle et contrefaçons.</h2>

                <p><a href="https://www.mercycorps.org/">https://www.mercycorps.org/</a> est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur l'application mobile, notamment les textes, images, graphismes, logos, vidéos, icônes et sons.
                Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments de l'application, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : <a href="https://www.mercycorps.org/">https://www.mercycorps.org/</a>.</p>

               

                <h2>6. Limitations de responsabilité.</h2>

                <p><a href="https://www.mercycorps.org/">https://www.mercycorps.org/</a> agit en tant qu’éditeur de l'application. <a href="https://www.mercycorps.org/">https://www.mercycorps.org/</a>  est responsable de la qualité et de la véracité du Contenu qu’il publie. </p>             


                Des espaces interactifs sont à la disposition des utilisateurs. <a href="https://www.mercycorps.org/">https://www.mercycorps.org/</a> se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace, en particulier aux dispositions relatives à la protection des données. Le cas échéant, <a href="https://www.mercycorps.org/">https://www.mercycorps.org/</a> se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie …).
				
				<h2>7. Géolocalisation.</h2>


               <p>L'utilisation de la fonctionnalité de géolocalisation de l'application nécessite le consentement préalable express de l'Utilisateur à être géolocalisé. Pour cela l'Utilisateur devra activer, s'il le souhaite, la fonction de géolocalisation directement dans les réglages de son terminal mobile et accepter que l'Application puisse y avoir recours. Cette fonctionnalité peut, à tout moment, et sans frais, être désactivée ou activée. Grâce à l'acceptation de la fonction de géolocalisation par GPS du téléphone mobile et de l'Application.</p>
               <p>Le service de géolocalisation est susceptible de ne pas fonctionner de manière précise, permanente ou sans erreur en fonction de circonstances telles que la connectivité réseau, la disponibilité des informations GPS/Wi-Fi, l'état ou le niveau de batterie de votre mobile ou de celui des contacts de votre choix et/ou d'autres circonstances indépendantes de la volonté de <a href="https://www.mercycorps.org/">https://www.mercycorps.org/</a>.</p>

                <h2>8. Gestion des données personnelles.</h2>

               
                <p>Pour les Données Personnelles collectées dans le cadre de la création du compte personnel de l’Utilisateur et de sa navigation sur l'application mobile, le responsable du traitement des Données Personnelles est : Mercy Corps. <a href="https://www.mercycorps.org/">https://www.mercycorps.org/</a></p>

                <p>En tant que responsable du traitement des données, <a href="https://www.mercycorps.org/">https://www.mercycorps.org/</a> s’engage à respecter le cadre des dispositions légales en vigueur. Il lui appartient notamment à l'utilisateur d’établir les finalités de ses traitements de données, de fournir à ses prospects et clients, à partir de la collecte de leurs consentements, une information complète sur le traitement de leurs données personnelles et de maintenir un registre des traitements conforme à la réalité.
                Chaque fois que <a href="https://www.mercycorps.org/">https://www.mercycorps.org/</a> traite des Données Personnelles, <a href="https://www.mercycorps.org/">https://www.mercycorps.org/</a> prend toutes les mesures raisonnables pour s’assurer de l’exactitude et de la pertinence des Données Personnelles au regard des finalités pour lesquelles <a href="https://www.mercycorps.org/">https://www.mercycorps.org/</a> les traite.</p>
				<p>La fourniture du numéro de mobile, Nom et Prénom de l'utilisateur sont obligatoires ainsi que la commune dont il appartient et nécessaires pour les rattacher au compte utilisateur. Sans ce numéro, notre dispositif d'authetification ne pourrait fonctionner. En aucun cas, votre numéro mobile n’est utilisé dans un programme de création de listing.
                 
               <h2>9. Contact.</h2>
			   <p>Toute question relative à l’Application et/ou aux Services doit être adressée par e- mail à l’adresse suivante :
                 [tn-pressetunisie@mercycorps.org]</p>
				 
				 <h2>10. Loi applicable.</h2>
                 <p>Les présentes CGU sont soumises à la loi tunisienne. Tout litige ou contestation relatif à l'exécution ou à l'interprétation du présent règlement qui n’aura pu être réglé à l'amiable entre les parties sera soumis aux tribunaux compétents du ressort du tribunal de commerce de la Tunisie.</p>

            