<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h3>Authentification</h3>
		</div>
		<!--begin::Form-->
		<form class="kt-form" [formGroup]="loginForm" autocomplete="off">
			<div class="form-group">
				<mat-form-field>
					<mat-label>{{ "AUTH.INPUT.EMAIL" | translate }}</mat-label>
					<input
						matInput
						type="email"
						placeholder="{{ 'AUTH.INPUT.EMAIL' | translate }}"
						formControlName="email"
						autocomplete="off"
					/>
					<mat-error *ngIf="isControlHasError('email', 'required')">
						<strong>Email Obligatoire</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email', 'email')">
						<strong>Invalide email</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email', 'minlength')">
						<strong>Invalide email 3</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email', 'maxlength')">
						<strong>Invalide email 320</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>{{
						"AUTH.INPUT.PASSWORD" | translate
					}}</mat-label>
					<input
						matInput
						type="password"
						placeholder="{{ 'AUTH.INPUT.PASSWORD' | translate }}"
						formControlName="password"
						autocomplete="off"
					/>
					<mat-error
						*ngIf="isControlHasError('password', 'required')"
					>
						<strong>Mot de passe Obligatoire</strong>
					</mat-error>
					<mat-error
						*ngIf="isControlHasError('password', 'minlength')"
					>
						<strong>Mot de passe Invalide 3</strong>
					</mat-error>
					<mat-error
						*ngIf="isControlHasError('password', 'maxlength')"
					>
						<strong>Mot de passe Invalide 100</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<!--begin::Action-->
			<div class="kt-login__actions">
				<button
					(click)="submit()"
					[ngClass]="{
						'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading
					}"
					id="kt_login_signin_submit"
					class="btn btn-primary btn-elevate kt-login__btn-primary"
				>
					{{ "AUTH.LOGIN.BUTTON" | translate }}
				</button>
			</div>
			<!--end::Action-->
		</form>
		<p class="text-danger">{{ errorMessage }}</p>
	</div>

</div>
<!--end::Body-->
