<h1 mat-dialog-title>Modifier Annonce</h1>
<div mat-dialog-content>
	<form class="example-form" [formGroup]="annonceForm">
		<mat-form-field class="example-full-width">
			<label class="form-group">Titre Annonce</label>
				<textarea matInput [value]="data.title" formControlName="title" matTextareaAutosize matAutosizeMinRows="3"
						  matAutosizeMaxRows="7" ></textarea>
		</mat-form-field>
		<mat-form-field class="example-full-width">
			<label class="form-group">Description</label>
			<textarea matInput [value]="data.description" formControlName="description" matTextareaAutosize matAutosizeMinRows="3"
					  matAutosizeMaxRows="7" ></textarea>
		</mat-form-field>
		<p>
		<img style="max-width: 300px; max-height: 200px"  *ngIf="data.link" [src]="data.link"></p>
		<input hidden="hidden" [value]="data.link" formControlName="link">

 		<!--Field Update Image-->
		<label class="image-upload-container btn-sm btn-bwm">
			<span>Modifier Image</span>
			<input
				#imageInput
				type="file"
				accept="image/*"
				(change)="processFile(imageInput)"
			/>
		</label>
		<div *ngIf="selectedFile" class="img-preview-container">
			<div
				class="img-preview{{
					selectedFile.status === 'fail' ? '-error' : ''
				}}"
				[ngStyle]="{
					'background-image': 'url(' + selectedFile.src + ')'
				}"
			></div>

			<div *ngIf="selectedFile.pending" class="img-loading-overlay">
				<div class="img-spinning-circle"></div>
			</div>

			<div
				*ngIf="selectedFile.status === 'ok'"
				class="alert alert-success"
			>
				Image Uploaded Succesfuly!
			</div>
			<div
				*ngIf="selectedFile.status === 'fail'"
				class="alert alert-danger"
			>
				Image Upload Failed!
			</div>
		</div>
		<!--End Update Image-->
	</form>
</div>
<div mat-dialog-actions>
	<button
		mat-button
		[mat-dialog-close]=""
		cdkFocusInitial
		(click)="onSubmit(data.id)"
	>
		Enregistrer
	</button>
	<button mat-button (click)="onNoClick()">Fermer</button>
</div>
