<h1 mat-dialog-title>Changer Statut</h1>
<div mat-dialog-content>
	<h4>Categorie</h4>
	<p>{{ data.category }}</p>
	<h4>Ville</h4>
	<p>{{ data.city }}</p>
	<h4>Description</h4>
	<p>{{ data.discription }}</p>
	<h4>Image</h4>
	<div class="form-group" *ngIf="data.image_url">
		<label class="form-control">Image signalement</label>
		<img style="max-width: 400px"  [src]="data.image_url">
	</div>

	<h4>Statut</h4>
	<mat-form-field appearance="fill">
		<mat-select
			name="food"
			[(value)]="data.statutAlert"
		>
			<mat-option *ngFor="let l of list" [value]="l.value">
				{{ l.viewValue }}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="update(data, data.statutAlert)">Valider</button>
	<button mat-button (click)="onNoClick()">Fermer</button>
</div>
