<h1 mat-dialog-title>Ajouter Annonce</h1>
<div mat-dialog-content>
	<form class="example-form" [formGroup]="docForm">
		<p>
			<mat-form-field class="example-full-width">
				<textarea
					matInput
					placeholder="Titre document"
					formControlName="doc_name"
				></textarea>
            </mat-form-field>
            <span>Choisir type document</span>
            <mat-form-field appearance="fill">
                <mat-select  formControlName="doc_type">
                    <mat-option *ngFor="let l of list" [value]="l.doc_type">
                        {{ l.doc_type }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
		</p>
		<label class="image-upload-container btn-sm btn-bwm">
			<span>Choisir document</span>
			<input
				#imageInput
				type="file"
				accept="pdf/*"
				(change)="processFile(imageInput)"
			/>
		</label>
		<div *ngIf="selectedFile" class="img-preview-container">
			<div
				class="img-preview{{
					selectedFile.status === 'fail' ? '-error' : ''
				}}"
				[ngStyle]="{
					'background-image': 'url(' + selectedFile.src + ')'
				}"
			></div>

			<div *ngIf="selectedFile.pending" class="img-loading-overlay">
				<div class="img-spinning-circle"></div>
			</div>

			<div
				*ngIf="selectedFile.status === 'ok'"
				class="alert alert-success"
			>
				pdf Uploaded Succesfuly!
			</div>
			<div
				*ngIf="selectedFile.status === 'fail'"
				class="alert alert-danger"
			>
				pdf Upload Failed!
			</div>
		</div>
	</form>
</div>
<div mat-dialog-actions>
	<button
		mat-button
		[mat-dialog-close]=""
		cdkFocusInitial
		(click)="onSubmit()"
		[disabled]="docForm.invalid || fileisUploading"
	>
		Enregistrer
	</button>
	<button mat-button (click)="onNoClick()">Fermer</button>
</div>
