<h1 mat-dialog-title>Détail Annonce</h1>
<div mat-dialog-content>
	<form class="example-form">
		<div class="form-group">
			<label class="form-control">Titre Annonce</label>
			<input matInput  disabled [value]="data.title">
		</div>
		<div class="form-group">
			<label class="form-control">Description</label>
			<textarea matInput [value]="data.description" matTextareaAutosize matAutosizeMinRows="3"
					  matAutosizeMaxRows="7" disabled></textarea>
		</div>
		<div class="form-group">
			<label class="form-control">City</label>
			<input matInput placeholder="City" [value]="data.city" disabled>
		</div>
		<div class="form-group" *ngIf="data.link">
			<label class="form-control">Image Annonce</label>
			<img style="max-width: 400px"  [src]="data.link">
		</div>
	</form>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Fermer</button>
</div>


