<h1 mat-dialog-title>Modifier Documenet</h1>
<div mat-dialog-content>
	<form class="example-form" [formGroup]="docForm">
		<mat-form-field class="example-full-width">
			<label class="form-group">Titre </label>
			<textarea
				matInput
				[value]="data.doc_name"
				formControlName="doc_name"
				matTextareaAutosize
				matAutosizeMinRows="3"
				matAutosizeMaxRows="7"
			></textarea>
		</mat-form-field>
		<span>Choisir type document</span>
		<mat-form-field appearance="fill">
			<mat-select formControlName="doc_type" [value]="data.doc_type">
				<mat-option *ngFor="let l of list" [value]="l.doc_type">
					{{ l.doc_type }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<p>
			<iframe
				*ngIf="data.doc_url"
				[src]="sanitizer.bypassSecurityTrustResourceUrl(data.doc_url)"
				width="100%"
				height="500px"
			>
			</iframe>
			<input
				hidden="hidden"
				[value]="data.doc_url"
				formControlName="doc_url"
			/>
			<!--Field Update Image-->
			<label class="image-upload-container btn-sm btn-bwm">
				<span>Modifier document</span>
				<input
					#imageInput
					type="file"
					accept="pdf/*"
					(change)="processFile(imageInput)"
				/>
			</label>
		</p>

		<div *ngIf="selectedFile" class="img-preview-container">
			<div *ngIf="selectedFile.pending" class="img-loading-overlay">
				<div class="img-spinning-circle"></div>
			</div>

			<div
				*ngIf="selectedFile.status === 'ok'"
				class="alert alert-success"
			>
				docuement Uploaded Succesfuly!
			</div>
			<div
				*ngIf="selectedFile.status === 'fail'"
				class="alert alert-danger"
			>
				docuement Upload Failed!
			</div>
		</div>
		<!--End Update Image-->
	</form>
</div>
<div mat-dialog-actions>
	<button
		mat-button
		[mat-dialog-close]=""
		cdkFocusInitial
		(click)="onSubmit(data.id)"
	>
		Enregistrer
	</button>
	<button mat-button (click)="onNoClick()">Fermer</button>
</div>
