<h1 mat-dialog-title> Documenet</h1>
<div mat-dialog-content>
        <iframe *ngIf="data.doc_url" [src]='sanitizer.bypassSecurityTrustResourceUrl(data.doc_url)' width="100%" height="500px">  </iframe>
 		<!--Field Update Image-->
</div>