<h1 mat-dialog-title>Voir Image</h1>
<div mat-dialog-content>
<div class="card">
    <div class="card-body">
        <div class="form-group" *ngIf="data.image_url">
			<label class="form-control">Image signalement</label>
			<img style="max-width: 400px"  [src]="data.image_url">
		</div>
    </div>
</div>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Fermer</button>
</div>
