<h1 mat-dialog-title>Programmez une nouvelle notifications</h1>
<div mat-dialog-content>
	<form class="example-form" [formGroup]="notifForm">
		<p>
			<mat-form-field class="example-full-width">
				<textarea
					matInput
					placeholder="Titre Notification"
					formControlName="title"
				></textarea>
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<textarea
					matInput
					placeholder="Contenu"
					formControlName="body"
				></textarea>
			</mat-form-field>
			<mat-form-field class="example-full-width">
				<input
					matInput
					type="datetime-local"
					placeholder="Heure"
					formControlName="time"
				/>
			</mat-form-field>
		</p>
	</form>
</div>
<div mat-dialog-actions>
	<button
		mat-button
		[mat-dialog-close]=""
		cdkFocusInitial
		(click)="onSubmit()"
	>
		Enregistrer
	</button>
	<button mat-button (click)="onNoClick()">Fermer</button>
</div>
