<kt-portlet>
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header
		[title]="'Liste des Notifications '"
		[class]="'kt-portlet__head--lg'"
	>
	<ng-container ktPortletTools>
		<button
		(click)="openDialogAddAnnonce()"
			mat-raised-button
			color="primary"
			matTooltip="Create new User"
		>
			Programmez une notification
		</button>
		<!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
		<!-- mat-raised-button | Rectangular contained button w/ elevation  -->
	</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->

	<!-- start::Body (attribute: ktPortletBody) -->
	<kt-portlet-body>
		<!-- start::FILTERS & GROUP ACTIONS -->
		<div class="kt-form kt-margin-b-30">
			<!-- start::FILTERS -->
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-2 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input
								matInput
								#searchInput
								placeholder="Recherche"
								(keyup)="applyFilter($event)"
							/>
							<mat-hint align="start">
								<strong>Recherche</strong>
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
			</div>
			<!-- end::GROUP ACTIONS -->
		</div>
		<!-- end::FILTERS & GROUP ACTIONS -->

		<div class="example-container mat-elevation-z8">
			<mat-table #table [dataSource]="dataSource">
				<!-- Name Column -->
				<ng-container matColumnDef="Titre">
					<mat-header-cell *matHeaderCellDef> Titre </mat-header-cell>
					<mat-cell *matCellDef="let element">
						{{ element.title }}
					</mat-cell>
				</ng-container>
				<!-- Name Column -->
				<ng-container matColumnDef="Contenu">
					<mat-header-cell *matHeaderCellDef>
						Contenu
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						{{ element.body }}
					</mat-cell>
				</ng-container>
				<!-- Name Column -->
				<ng-container matColumnDef="Heure">
					<mat-header-cell *matHeaderCellDef> Heure </mat-header-cell>
					<mat-cell *matCellDef="let element">
						{{ element.time.toDate()  | date:'yyyy/MM/dd h:mm:ss a'}}
					</mat-cell>
				</ng-container>
				<mat-header-row
					*matHeaderRowDef="displayedColumns"
				></mat-header-row>
				<mat-row
					*matRowDef="let row; columns: displayedColumns"
				>
				</mat-row>
			</mat-table>
			<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
		</div>
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>
