<kt-portlet>
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header
		[title]="'Liste Annonces'"
		[class]="'kt-portlet__head--lg'"
	>
		<!--//[viewLoading$]="dataSource.loading$"-->
		<ng-container ktPortletTools>
			<button
				(click)="openDialogAddAnnonce()"
				mat-raised-button
				color="primary"
				matTooltip="Create new User"
			>
				Ajouter Annonce
			</button>
			<!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
			<!-- mat-raised-button | Rectangular contained button w/ elevation  -->
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->

	<!-- start::Body (attribute: ktPortletBody) -->
	<kt-portlet-body>
		<!-- start::FILTERS & GROUP ACTIONS -->
		<div class="kt-form kt-margin-b-30">
			<!-- start::FILTERS -->
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-2 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input
								matInput
								placeholder="Search user"
								#searchInput
								placeholder="Recherche"
								(keyup)="applyFilter($event)"
							/>
							<mat-hint align="start">
								<strong>Recherche</strong>
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
			</div>
			<!-- end::FILTERS -->

			<!-- start::GROUP ACTIONS -->
			<!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
			<!-- Group actions are shared for all LISTS -->
			<div
				class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
				[ngClass]="{ show: selection.selected.length > 0 }"
			>
				<!-- We show 'Group Actions' div if smth are selected -->
				<div class="col-xl-12">
					<div class="kt-form__group kt-form__group--inline">
						<div class="kt-form__label kt-form__label-no-wrap">
							<label class="kt--font-bold kt-font-danger-">
								<span>
									Nombre Annonce Sélectionnés:
								</span>
								{{ selection.selected.length }}
							</label>
							<!-- selectedCountsTitle => function from codeBehind (users-list.component.ts file) -->
							<!-- selectedCountsTitle => just returns title of selected items count -->
							<!-- for example: Selected records count: 4 -->
						</div>
						<div class="kt-form__control kt-form__group--inline">
							<button
								(click)="openDialog(selection.selected)"
								mat-raised-button
								class="mat-button-mt-4"
							>
								<mat-icon>clear_all</mat-icon>
								Voir Plus Détail...
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end::FILTERS & GROUP ACTIONS -->

		<div class="example-container mat-elevation-z8">
			<mat-table #table [dataSource]="dataSource">
				<!-- Checkbox Column -->
				<ng-container matColumnDef="select">
					<mat-header-cell *matHeaderCellDef>
						<mat-checkbox
							[checked]="selection.hasValue() && !isAllSelected()"
							[indeterminate]="
								selection.hasValue() && !isAllSelected()
							"
						>
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<mat-checkbox
							(click)="$event.stopPropagation()"
							(change)="$event ? selection.toggle(row) : null"
							[checked]="selection.isSelected(row)"
						>
						</mat-checkbox>
					</mat-cell>
				</ng-container>

				<!-- Titre Column -->
				<ng-container matColumnDef="Titre">
					<mat-header-cell *matHeaderCellDef> Titre </mat-header-cell>
					<mat-cell *matCellDef="let element">
						{{ element.title }}</mat-cell
					>
				</ng-container>
				<!-- Date Column -->
				<ng-container matColumnDef="Date">
					<mat-header-cell *matHeaderCellDef>
						Date dépôt
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						{{ element.date  | date: 'dd/MM/yyyy' }}
					</mat-cell>
				</ng-container>
				<!-- actions Column -->
				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<button
							(click)="modifierDialog(element)"
							mat-icon-button
							color="primary"
							matTooltip="Modifier Annonce"
						>
							<mat-icon>create</mat-icon></button
						>&nbsp;
					</mat-cell>
				</ng-container>
				<mat-header-row
					*matHeaderRowDef="displayedColumns"
				></mat-header-row>
				<mat-row
					*matRowDef="let row; columns: displayedColumns"
					(click)="selection.toggle(row)"
				>
				</mat-row>
			</mat-table>
			<div class="mat-table__message" *ngIf="dataSource === null">
				No records found
			</div>
			<!-- Message for empty data  -->
			<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
		</div>

		<!--		 start: BOTTOM
				<div class="mat-table__bottom">
					 MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview'
					<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
					 MATERIAL PAGINATOR | Binded to dasources
					 See off.documentations 'https://material.angular.io/components/paginator/overview'
					<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
				</div>
				 end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>
