<kt-portlet>
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header
		[title]="'Liste des Correspondances '"
		[class]="'kt-portlet__head--lg'"
	>
		<!--//[viewLoading$]="dataSource.loading$"-->
		<ng-container ktPortletTools>
			<!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
			<!-- mat-raised-button | Rectangular contained button w/ elevation  -->
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->

	<!-- start::Body (attribute: ktPortletBody) -->
	<kt-portlet-body>
		<!-- start::FILTERS & GROUP ACTIONS -->
		<div class="kt-form kt-margin-b-30">
			<!-- start::FILTERS -->
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-2 kt-margin-bottom-10-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input
								matInput
								placeholder="Search user"
								#searchInput
								placeholder="Recherche"
								(keyup)="applyFilter($event)"
							/>
							<mat-hint align="start">
								<strong>Recherche</strong>
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
			</div>
			<!-- end::FILTERS -->

			<!-- start::GROUP ACTIONS -->
			<!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
			<!-- Group actions are shared for all LISTS -->
			<div
				class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
				[ngClass]="{ show: selection.selected.length > 0 }"
			>
				<!-- We show 'Group Actions' div if smth are selected -->
				<div class="col-xl-12">
					<div class="kt-form__group kt-form__group--inline">
						<div class="kt-form__label kt-form__label-no-wrap">
							<label class="kt--font-bold kt-font-danger-">
								<span>
									Nombre des correspondances sélectionnés:
								</span>
								{{ selection.selected.length }}
							</label>
							<!-- selectedCountsTitle => function from codeBehind (users-list.component.ts file) -->
							<!-- selectedCountsTitle => just returns title of selected items count -->
							<!-- for example: Selected records count: 4 -->
						</div>
						<div class="kt-form__control kt-form__group--inline">
							<button
								mat-raised-button
								matTooltip="Fetch selected users"
								class="mat-button-mt-4"
								(click)="pdf(selection.selected)"
							>
								<mat-icon>clear_all</mat-icon>
								Imprimer en PDF
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end::GROUP ACTIONS -->
		</div>
		<!-- end::FILTERS & GROUP ACTIONS -->

		<div class="example-container mat-elevation-z8">
			<mat-table #table [dataSource]="dataSource">
				<!-- Checkbox Column -->
				<ng-container matColumnDef="select">
					<mat-header-cell *matHeaderCellDef>
						<mat-checkbox
							(change)="$event ? masterToggle() : null"
							[checked]="selection.hasValue() && isAllSelected()"
							[indeterminate]="
								selection.hasValue() && !isAllSelected()
							"
						>
						</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<mat-checkbox
							(click)="$event.stopPropagation()"
							(change)="$event ? selection.toggle(row) : null"
							[checked]="selection.isSelected(row)"
						>
						</mat-checkbox>
					</mat-cell>
				</ng-container>

				<!-- Name Column -->
				<ng-container matColumnDef="Catégorie">
					<mat-header-cell *matHeaderCellDef>
						Catégorie
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						{{ element.category }}
					</mat-cell>
				</ng-container>
				<!-- Name Column -->
				<ng-container matColumnDef="Date">
					<mat-header-cell *matHeaderCellDef>
						Date Modification
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span *ngIf="element.datemodif == null"
							>Pas de modification effectuée</span
						>
						{{ element.datemodif | date: 'dd/MM/yyyy' }}
					</mat-cell>
				</ng-container>
				<!-- Name Column -->
				<ng-container matColumnDef="Nature">
					<mat-header-cell *matHeaderCellDef>
						Nature
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						{{ element.nature }}
					</mat-cell>
				</ng-container>
				<!-- Name Column -->
				<ng-container matColumnDef="Statut">
					<mat-header-cell *matHeaderCellDef>
						Changer Statut
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						
						<button
							*ngIf="element.status == 0"
							class="btn btn-warning"
							mat-button
							(click)="openDialogStatut(element)"
						>
							Délivré
						</button>
						<button
							*ngIf="element.status == 1"
							class="btn btn-warning"
							mat-button
							(click)="openDialogStatut(element)"
						>
							En cours
						</button>
						<button
							*ngIf="element.status == 2"
							class="btn btn-warning"
							mat-button
							(click)="openDialogStatut(element)"
						>
							Traité
						</button>
						<button
							*ngIf="element.status == 3"
							class="btn btn-warning"
							mat-button
							(click)="openDialogStatut(element)"
						>
							Traité non résolu
						</button>
					</mat-cell>
				</ng-container>
				<!-- Name Column -->
				<ng-container matColumnDef="detail">
					<mat-header-cell *matHeaderCellDef>
						Détail
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<button mat-button (click)="openDialog(element)">
							Contenu
						</button>
					</mat-cell>
				</ng-container>
				<mat-header-row
					*matHeaderRowDef="displayedColumns"
				></mat-header-row>
				<mat-row
					*matRowDef="let row; columns: displayedColumns"
					(click)="selection.toggle(row)"
				>
				</mat-row>
			</mat-table>
			<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
		</div>

		<!--		 start: BOTTOM
		<div class="mat-table__bottom">
			 MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview'
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			 MATERIAL PAGINATOR | Binded to dasources
			 See off.documentations 'https://material.angular.io/components/paginator/overview'
			<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
		</div>
		 end: BOTTOM -->
	</kt-portlet-body>
	
	<!-- end::Body -->
</kt-portlet>

